.home-container {
  padding: 7px;
  font-size: 22px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  margin: 10px 5px 21px 5px;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-container h1 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 13px;
  color: #ffffff;
}

.home-content-container p {
  font-size: 14px;
  color: #ffffff;
  width: 251px;
  font-weight: 400;
  margin-bottom: 51px;
}

.home-image-container {
  padding: 62px 28px 35px 28px;
}

.home-image-container svg {
  width: 244px;
  height: 146px;
  top: 152px;
  left: 38px;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 15px;
    font-size: 36px;
  }

  .home-card {
    margin: 15px 10px 30px 10px;
  }

  .home-content-container h1 {
    width: 420px;
    margin-bottom: 0px;
    font-size: 36px;
  }

  .home-content-container p {
    width: 420px;
    margin-bottom: 41px;
    font-size: 18px;
  }

  .home-image-container {
    padding: 22px 102px 19px 101px;
  }

  .home-image-container svg {
    width: 333px;
  }
}

@media (min-width: 768px) {
  .home-content-container p {
    margin-bottom: 76px;
    font-size: 18px;
  }

  .home-image-container {
    padding: 79px 198px 37px 197px;
  }

  .home-image-container svg {
    left: 217px;
    top: 179px;
  }
}

@media (min-width: 992px) {
  .home-card {
    margin: 20px 10px 30px 10px;
  }

  .home-content-container p {
    margin-bottom: 124px;
    font-size: 18px;
  }

  .home-image-container {
    padding: 82px 249px 17px 248px;
  }

  .home-image-container svg {
    width: 455px;
    height: 272px;
    left: 268px;
    top: 182px;
  }
}

@media (min-width: 1280px) {
  .home-container {
    min-height: 650px;
    height: 85vh;
  }

  .home-card {
    justify-content: space-around;
    flex-direction: row;
    min-width: 979px;
    min-height: 365px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .home-content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home-content-container h1 {
    margin-top: 140px;
    margin-left: 85px;
  }

  .home-content-container p {
    margin-bottom: 141px;
    margin-left: 85px;
  }

  .home-image-container {
    padding: 83px 78px 83px 63px;
    display: flex;
    align-items: center;
    width: 472px;
    height: auto;
  }
  .home-image-container svg {
    width: 333px;
  }
}
