.main-nav {
  padding-left: 20px;
  min-height: 70px;
}

.nav-logo-text,
.nav-logo-text:hover{
  color: #00285f;
  font-weight: 700;
}

.navbar-toggler {
  background-color: #00285F;
}

.main-menu {
  display: flex;
  font-size: 18px;
  width: 170px;
  justify-content: space-between;
}

.main-menu a {
  color: #00285f;
}

.main-menu a:hover {
  color: #00285f;
}

.main-menu a.active {
  color: #00285f;
  font-weight: bold;
}
