.base-card {
  background: #ededed;
  border-radius: 10px;
}

.product-card {
  margin-bottom: 20px;
}

.card-top-container {
  text-align: center;
}

.card-top-container img {
  padding: 14px 0 8px 0;
  width: 220px;
}

.card-bottom-container {
  text-align: center;
}

.card-bottom-container h6 {
  font-size: 18px;
  padding-bottom: 14px;
  color: #000000;
}

.card-bottom-container p {
  padding: 0 14px 38px 22px;
  text-align: left;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
  color: #585858;
  margin: 0;
}

.btn-card-purchase {
  padding: 0 20px 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-content-container-product {
  width: 258px;
  height: 40px;
  background: #00285f;
  border-radius: 5px;
}

.base-button-product {
  padding: 12px 80px;
}

.base-button-product h6 {
  font-size: 14px;
  color: #ffffff;
}

@media (min-width: 576px) {
  .product-card {
    margin-bottom: 30px;
  }
  .btn-content-container-product {
    padding: 0 18px 15px;
  }

  .btn-content-container-product button {
    width: 200px;
    height: 40px;
  }
  .card-bottom-container p {
    padding: 0 12px 38px 18px;
    font-size: 12px;
    line-height: 14px;
  }
  .base-button-product {
    padding: 12px 60px;
  }
}

@media (min-width: 768px) {
  .card-bottom-container p {
    font-size: 14px;
  }

  .btn-content-container-product {
    padding: 0 22px 20px;
  }

  .base-button-product h6 {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .product-card {
    width: 296px;
    height: 347px;
    margin: 20px 0px 20px 0px;
  }

  .card-top-container img {
    padding: 14px 0 8px 0;
    width: 214px;
  }
}

@media (min-width: 1280px) {
  .product-card {
    margin-left: 30px;
  }

  .card-bottom-container p {
    padding: 0 20px 38px;
  }
  .btn-content-container-productcard button {
    width: 266px;
    height: 40px;
  }
}

@media (min-width: 1400px) {
  .product-card {
    margin-left: 60px;
  }
}
